# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# MLflow
mlruns/

# Models
models/*.pt
!models/model.pt

# Dataset
data/

# Logs
*.log

# VSCode / PyCharm
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
