name: CI Pipeline

on:
  push:
  pull_request:

jobs:
  build-test-push:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - run: python -m pip install --upgrade pip

      - run: |
          pip install setuptools==68.2.2
          pip install -r requirements.txt

      - name: Run Tests with Coverage
        run: pytest --cov=src --cov-report=xml

      - name: Upload Coverage Report
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: coverage.xml

      - name: Login to GHCR
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build Docker Image
        run: |
          docker build -t ghcr.io/${{ github.repository }}:latest .

      - name: Push Docker Image
        run: |
          docker push ghcr.io/${{ github.repository }}:latest
