name: CI Pipeline

on:
  push:
    branches:
      - '**'
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Upgrade pip
        run: python -m pip install --upgrade pip

      - name: Install dependencies
        run: |
          pip install setuptools==68.2.2
          pip install -r requirements.txt

      - name: Run Unit Tests
        run: pytest

      - name: Build Docker Image
        run: docker build -t catsdogs:latest .
